.footer {
    background-color:#595959;
    color: #ffffff;
  
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer-section {
    flex: 1 0 50%;
    margin-bottom: 40px;
  }
  
  .footer-heading {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .footer-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-item {
    margin-bottom: 10px;
  }
  
  .footer-item a {
    color:  #ffffff;
    text-decoration: none;
  }
  
  .footer-bottom {
    background-color: #7d7d7dc8;
    padding: 10px 0;
    text-align: center;
  }
  
  .footer-text {
    color:  #000000;
    font-size: 14px;
    margin: 0;
  }
  